:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.nav-menu,
.contact,
.page-title,
.list-title,
.list-text,
.section-list,
.section-title,
.team-list,
.portfolio-list,
.footer-text,
.icon-header,
.image-text,
.team-icon-container,
.footer-contact-icon {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body,
a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  background-color: var(--white);
  text-decoration: none;
}
.container {
  width: 1158px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.section-title {
  font-size: 36px;
  line-height: 1.11111;
  margin-bottom: 72px;
}

.list-title {
  font-size: 20px;
  line-height: 1.2;
}

.section,
.team .container,
.portfolio,
.footer-div {
  padding-top: 120px;
  padding-bottom: 120px;
}

.nav-menu-link,
.list-title {
  font-weight: 500;
}

.section-title,
.list-title,
.nav-menu-link {
  color: var(--navyblue);
}

/* Header */

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: inherit;
}

.header .container,
.nav-menu-logo,
.nav-menu,
.contact {
  position: relative;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-link,
.contact-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link {
  position: relative;
  text-decoration: none;
}

.nav-menu-link:hover,
.contact-link:hover {
  color: var(--ocean);
}

.nav-menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 0;
  height: 4px;
  background-color: var(--ocean);
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-menu-link:active::after{
  width: 100%;
}

.header .container {
  border-bottom: 1px solid var(--cornflower);
  padding: 24px 0;
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: var(--navyblue);
}

.logo-span {
  color: var(--iris);
}

/* Main - class:page */

.page-title,
.section-title {
  font-weight: 700;
  text-align: center;
}

.page-title {
  font-size: 56px;
  line-height: 1.07143;
  width: 496px;
}

.page-title,
.page-button {
  color: var(--white);
}

.page-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  gap: 48px;
}

.page {
  margin: 0 auto;
  background: linear-gradient(var(--grey)),
    url(../images/people-office\ 1.jpg) no-repeat center;
  background-size: contain;
  max-width: 1440px;
}

.page-button {
  background-color: var(--iris);
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-button:hover {
  background-color: var(--ocean);
}
/* first section */

.section-list {
  display: flex;
  gap: 24px;
}

.list-item {
  width: 264px;
}

.section-icons-wrapper {
  background-color: var(--cloud);
  border: 1px solid var(--lightslate);
  width: 264px;
  height: 112px;
  border-radius: 4px;
  position: relative;
}

.section-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* team section */

.team .container {
  background-color: var(--cloud);
}

.team-list {
  display: flex;
  gap: 24px;
  text-align: center;
  justify-content: center;
}

.team-icon-wrapper {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item:hover .team-icon-wrapper {
  background-color: var(--ocean);
}
/* team and portfolio */

.team-item,
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

.team-text,
.portfolio-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 32px 0;
}

/* team and footer*/

.team-icon-container,
.footer-contact-icon {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-icon-wrapper,
.icon-wrapper {
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 12px;
}

/* portfolio section */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.image-effect {
  position: relative;
  overflow: hidden;
}

.image-text {
  color: var(--cloud);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px 0px 32px;
}

.portfolio-item:hover .image-text {
  transform: translateY(0);
}

.portfolio-item {
  border: 1px solid var(--cornflower);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* footer */

footer {
  background-color: var(--navyblue);
}
.footer-flex {
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.footer-logo {
  font-family: var(--second-family);
}

.footer-logo,
.footer-text {
  color: var(--cloud);
  background-color: inherit;
}

.footer-div {
  width: 264px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.icon-header {
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  margin-bottom: 16px;
}

.contact-icons {
  width: 208px;
  padding-top: 100px;
}
.icon-wrapper {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-wrapper:hover,
.icon-wrapper:active {
  background-color: var(--green);
}
